@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {

  background: #262626;

  font-family: raleway;

  color: rgb(255, 255, 255);

  margin: 0;

}

.signupfrm{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.form{
    background-color:#292929;           
    width: 100px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow:  38px 38px 56px #1e1e1e,
    -25px -25px 38px #1e1e1e;
}
