@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {

  background: #262626;

  font-family: raleway;

  color: rgb(255, 255, 255);

  margin: 0;

}

h1{
    margin-top: 10%;
    display: flex;
  flex-direction: column;
  align-items: center;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
 border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 14px;
padding-top: 1px;
padding-left: 14px;
padding-right: 14px;
display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}


h3{
   display: flex;
  flex-direction: column;
  align-items: center; 
}
